@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");
.admin_page {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Almarai", serif;
  --txt-size: 16px;
  font-size: var(--txt-size);
}
.admin_main {
  flex: 1;
  padding: 2rem 4rem 2rem 3rem;
}
.admin_navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  height: auto;
  min-height: 100vh;
  width: 250px;
  background-color: var(--pri-theme-dark);
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.dashboard > * {
  text-align: end;
}
.dashboard > h2 {
  font-size: 4.5em;
  color: var(--pri-theme-dark);
  line-height: 1;
}
.dashboard .date {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}
.dashboard h4 {
  color: var(--txt-grey);
  font-size: 1.2em;
}
.index {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
}
@media screen and (max-width: 1050px) {
  .index {
    /* flex-direction: column; */
    align-items: center;
  }
}
.index > div:first-child {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.index .admin-orders {
  width: 35%;
  min-width: 280px;
  border-radius: 20px;
  /* box-shadow: 0 1px 10px var(--more-shadow); */
  padding: 1.4rem;
}
.stat_cards {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 630px;
}
.stat_card {
  padding: 1.4rem;
  margin-left: 18px;
  border-radius: 20px;
  width: 28%;
  height: 180px;
  color: var(--txt-white);
  font-size: 1.6em;
}
.stat_cards .blue {
  background-image: linear-gradient(150deg, rgb(214, 242, 253), #1f4c69);
}
.stat_cards .purple {
  background-image: linear-gradient(150deg, rgb(253, 214, 250), #782e81);
}
.stat_cards .green {
  background-image: linear-gradient(150deg, rgb(214, 242, 253), #328658);
}
.stat_card img {
  height: 60px;
  display: block;
  margin: 15px auto;
  opacity: 0.5;
}
.stat_card .stat_value {
  font-family: "Quicksand", sans-serif;
}
.dashboard h3 {
  font-size: 2.3em;
  margin-top: 2rem;
}
.stat_chart {
  width: 95%;
  min-width: 592px;
  background-color: var(--pri-theme-dark);
  border-radius: 20px;
  padding: 1.2rem 0;
}
.nav_elements {
  margin-top: 24px;
}
.nav_elements a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--txt-white);
  border-radius: 10px;
  padding: 14px;
  gap: 14px;
  font-size: 1.5em;
}
.nav_elements a:hover {
  background-color: var(--pri-theme);
}
.dashboard .toolBar {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 24px;
}
.dashboard .search {
  background-color: var(--bg-grey);
  border-radius: 100px;
  width: 50%;
  padding: 0.6rem;
  border: none;
}
.dashboard .search input {
  background-color: transparent;
}
.admin_products {
  width: 100%;
}
.admin_card_cont {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  justify-items: center;
  margin: 20px auto;
  --card-size: 20px;
  font-size: 1em;
  grid-template-columns: repeat(4, 1fr);
}
/* form */

.new_product {
  width: 600px;
}
.new_product form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
}
.new_product input,
.new_product label,
.new_product select,
.new_product textarea {
  display: block;
  font-size: 1.25em;
  margin-left: auto;
  margin-bottom: 20px;
}
.new_product input,
.new_product select,
.new_product textarea {
  text-align: end;
  padding: 0.8rem;
  border-radius: 200px;
  border: 2px solid var(--pri-theme-dark);
  width: 100%;
}
.new_product .OFF {
  display: none;
}
.new_product .new_category {
  padding: 2rem 1rem;
  border: 2px solid var(--pri-theme-dark);
  border-radius: 20px;
  box-shadow: 0 0 10px var(--pri-theme-dark);
}

.product-desciption {
  width: 100%;
}
.product-desciption textarea {
  border-radius: 10px;
  font-family: "Quicksand", "Almarai", sans-serif;
}
/* medias */
@media screen and (max-width: 1130px) {
  .admin_card_cont {
    grid-template-columns: repeat(3, 1fr);
  }
  .admin_card_cont .item {
    width: 20vw;
    height: 32vw;
  }
  .admin_card_cont .details {
    --card-txt: 2vw;
    padding: 18px;
  }
  .admin_card_cont .details-text {
    padding-top: 0;
  }
  .admin_card_cont .item .img-box {
    height: 70%;
  }
}
@media screen and (max-width: 930px) {
  .admin_card_cont {
    grid-template-columns: repeat(2, 1fr);
  }
  .admin_card_cont .item {
    width: 28vw;
    height: 42vw;
  }
  .admin_card_cont .details {
    --card-txt: 2.4vw;
    padding: 22px;
  }
}
