h1{
    text-align: center;
    font-size: 3rem;
    color: var(--txt-black);
    transform: translateX(20px);
}

.s1-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.types{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;  
    flex-wrap: wrap;
}
.types a{
    display: block;
    width: 20%;   
    margin:0 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .types a:first-child{
    margin:0 0 3rem 0;
} */
.circle{
    width: 200px;
    border-radius: 50%;
    background-image: var(--gradient);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-height: 200px;
}
.circle img{
    height: 200px;
    transition: 0.3s;
    filter: drop-shadow(3px 15px 20px);
}
.circle img:hover{
    height: 220px;
    transform: rotate(15deg) translateY(-30px);
    filter: drop-shadow(3px 15px 20px);
}
.types a .title{
    font-size: 1.4rem;
}
@media screen and (max-width: 980px) {
    .types a{
           width: 25%;
    }
}
@media screen and (max-width: 764px) {  
    .types a{
        /* margin:0 0 0 2rem; */
        width: 40%;
    }
    .circle{
        max-height: 200px;
        max-width: 200px;
    }
}
@media screen and (max-width : 550px) {
    h1{
        font-size: 5vw;
    }
    .section_title{
        transform: translateX(-15px);
    }
    .types{
        width: 95%;
        transform: translateX(0);
    }
    .types a
    {
        margin: 0 ;
        width: 50%;
    }
    .types a .title{
        font-size: 1.2rem;
    }
    .circle{  
        max-height: 32vw;
        max-width: 36vw;
    }
    .circle img{
        height: 32vw;
    }
    .circle img:hover{
        height: 35vw;
     transform: rotate(15deg) translateY(-15px);

    }    
}